<log4net>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <reconnectonerror value="true" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <commandText value="INSERT INTO [Log] (    [LocationGUID]    ,[UserGUID]    ,[MachineName]    ,[AppDomainName]    ,[ProcessName]    ,[Title]    ,[Context]    ,[Severity]    ,[Source]    ,[Timestamp]    ,[Message]    ,[CallStack]	,[OtherData]    ,[SoftwareVersion]    ,[TransactionId]) VALUES (    @LocationGUID    ,@UserGUID    ,@MachineName    ,@AppDomainName    ,@ProcessName    ,@Title    ,@Context    ,@Severity    ,@Source    ,getdate()    ,@Message    ,@CallStack	,@OtherData     ,@SoftwareVersion    ,@TransactionId)" />
    <parameter>
      <parameterName value="@SoftwareVersion" />
      <dbType value="String" />
      <size value="12" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%P{SoftwareVersion}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@TransactionId" />
      <dbType value="Int64" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="TransactionId" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserGuid" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="UserGuid" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@LocationGUID" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="LocationGUID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@MachineName" />
      <dbType value="String" />
      <size value="30" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%P{MachineName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@AppDomainName" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%a" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ProcessName" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%P{ProcessName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Title" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%P{Title}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Context" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c{2}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Severity" />
      <dbType value="String" />
      <size value="20" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Source" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c{1}.%M" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Timestamp" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@CallStack" />
      <dbType value="String" />
      <size value="50000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@OtherData" />
      <dbType value="String" />
      <size value="50000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%P{OtherData}" />
      </layout>
    </parameter>


    <!--gmz.57.0. Filter a particular debug/string. root level must be DEBUG-->
    <!--<filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="A002.BL.Logic." />
      <param name="acceptOnMatch" value="true" />
    </filter>

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>

    <filter type="log4net.Filter.DenyAllFilter" />

    <threshold value="DEBUG" />-->
    
    
  </appender>
  
  
  
  
  <!--gmz.23.5. Add filename and line. Only works if dll are in debug. -->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <bufferSize value="0" />
    <file value="./log/TKpos" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value=".yyyy-MM-dd.lo\g" />
    <StaticLogFileName value="false" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date | %-5level | %c{1}.%M | %-50P{Title} | %message | %F:%L%newline" />
    </layout>
    <threshold value="ERROR" />

    <!--gmz.50.10. allow cross-domain logging-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />


    <!--<filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="A002.BL.Logic." />
      <param name="acceptOnMatch" value="true" />
    </filter>
    
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
    
    <filter type="log4net.Filter.DenyAllFilter" />-->

  
    
    
    <!--<filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="POSINPUT-1" />
    </filter>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="POSINPUT-2" />
    </filter>

    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
      <param name="LevelMax" value="OFF"/>
    </filter>

    <filter type="log4net.Filter.DenyAllFilter" />-->

  </appender>
  
  
  
  <!-- Setup the root category, add the appenders and set the default priority -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>