<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TkMqttBroker.WinService.Properties.TkMqttBorker" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="netTiersService" type="Tk.NetTiers.DataAccessLayer.Bases.NetTiersServiceSection, Tk.NetTiers.DataAccessLayer" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="currentLocationGUID" type="Tk.ConfigurationManager.ConfigFileSectionsHandler, TkConfigurationManager" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="currentWorkStationId" type="Tk.ConfigurationManager.WorkStationIdSectionsHandler, TkConfigurationManager" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </configSections>



  <!--.210 mpk222-->
  <connectionStrings>
    <add name="mainConnectionString" connectionString="lIKWosE36ASamvhqFR9uiYsbHhx6YjVBhZXdzpQmRLsLnS8KLkvRLwNYJsPnEjtyP8UdvqyqYhVOqh5yQDe36rMNlBrScj4sDWosQl3Nq/wR+DnvNwC9KQNIDR4cPHkau3jxEleBt89XtgYb8tjoZKA0MTnfTKdfEmmJ9KbyyS57wdKHU5vY2MmZg1dfbh81iMAXfdIFcKeBpxfW75QoHmlfSXh1Ufwjvf7IlM290s8+I6rdkpkFsGwOWC16cJG+Xk9F0ASiptTg8Mdn/XT0q+CZZxoTm+2jSaI9vhBuYeYfoCx5US3zew==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="Tk.NetTiers.DataAccessLayer.SqlClient.SqlNetTiersProvider, Tk.NetTiers.DataAccessLayer.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Tk.NetTiers.EntityFactory" useEntityFactory="false" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="600" connectionString="lIKWosE36ASamvhqFR9uiYsbHhx6YjVBhZXdzpQmRLsLnS8KLkvRLwNYJsPnEjtyP8UdvqyqYhVOqh5yQDe36rMNlBrScj4sDWosQl3Nq/wR+DnvNwC9KQNIDR4cPHkau3jxEleBt89XtgYb8tjoZKA0MTnfTKdfEmmJ9KbyyS57wdKHU5vY2MmZg1dfbh81iMAXfdIFcKeBpxfW75QoHmlfSXh1Ufwjvf7IlM290s8+I6rdkpkFsGwOWC16cJG+Xk9F0ASiptTg8Mdn/XT0q+CZZxoTm+2jSaI9vhBuYeYfoCx5US3zew==" />
    </providers>
  </netTiersService>
  <currentLocationGUID value="D86EF049-1E15-E911-9414-C81F66CF32EA" />
  <currentWorkStationId value="POS099" />
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <TkMqttBroker.WinService.Properties.TkMqttBorker>
            <setting name="Welcome" serializeAs="String">
                <value>Hello world!</value>
            </setting>
            <setting name="NGServiceUrl" serializeAs="String">
              <value>https://mpk.parkingdreams.app</value>
            </setting>
            <setting name="NGApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PosServiceUrl" serializeAs="String">
              <value>http://localhost:55820</value>
            </setting>
            <setting name="PosApiKey" serializeAs="String">
                <value />
            </setting>
        </TkMqttBroker.WinService.Properties.TkMqttBorker>
    </applicationSettings>
</configuration>